.dashboard-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

/* Elimina márgenes y paddings predeterminados */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Fondo negro para todo */
}
