@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.user-container {
    display: flex;
    flex-direction: column; /* Cambia a columna para que los hijos se apilen verticalmente */
    justify-content: flex-start; /* Esto asegura que los elementos estén al inicio */
    align-items: flex-start; /* Asegura que los elementos se alineen a la izquierda */
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #010101;
    z-index: 1000;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif; /* Aplica la nueva fuente */
}

.user-details {
    display: flex; /* Coloca los elementos en fila horizontal */
    align-items: center; /* Centra verticalmente la imagen y el texto */
    gap: 20px; /* Espacio entre la imagen y el nombre */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si no hay espacio */
}

.text-container {
    display: flex; /* Permite organizar el texto dentro del contenedor */
    flex-direction: column; /* Alinea los textos (nombre y correo) verticalmente */
}

.container {
    font-size: 16px; /* Tamaño más pequeño */
    color: white;
    opacity: 0.8; /* Opcional: Añade un poco de opacidad para resaltar menos */
    display: flex;
}

.profile-image {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 50px;
    width: 200px; /* Reduce el tamaño de la imagen */
    height: 200px; /* Mantiene la proporción cuadrada */
    border-radius: 50%; /* Hace la imagen redonda */
    object-fit: cover; /* Asegura que la imagen no se distorsione */
}

.profile-name {
    font-size: 100px; /* Tamaño grande */
    font-weight: bold; /* Hace el texto en negrita */
    color: white; /* Asegura que el color sea visible en el fondo oscuro */
}

.profile-email, .profile-product {
    font-size: 16px; /* Tamaño más pequeño */
    color: white;
    opacity: 0.8; /* Opcional: Añade un poco de opacidad para resaltar menos */
    margin-bottom: 8px;
}

.profile-country{
    margin-right: 10px;
}

.logo{
    width: 70px; /* Reduce el tamaño de la imagen */
    height: 70px; /* Mantiene la proporción cuadrada */
    margin-bottom: -93px;
    margin-left: -130px;
    margin-top: 8px;
    cursor: pointer; /* Cambia el cursor a una mano cuando pases por encima */
    transition: transform 0.2s ease; /* Animación suave al hacer hover */
}

.logo:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al hacer hover */
}
